In [43]:
import pandas as pd 
import numpy as np

In [44]:
data=pd.read_csv("Datasets/forestfires.csv")
data=data.drop(['month','day','FFMC','DMC','DC','ISI','temp','RH','wind','rain','size_category'],axis=1)
#data=data.drop(['month','day','size_category'],axis=1)
data.head()

,area,dayfri,daymon,daysat,daysun,daythu,daytue,daywed,monthapr,monthaug,monthdec,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep
0,0.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
1,0.0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0
2,0.0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,0.0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,0.0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [ ]:
import matplotlib.pyplot as plt

for x in

In [45]:
x=data.drop(['area'], axis=1)

In [46]:
y=data['area']

In [47]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.4,random_state=0)

In [48]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(x_train)

# Now apply the transformations to the data:
x_train = scaler.transform(x_train)
x_test = scaler.transform(x_test)

In [49]:
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(hidden_layer_sizes=(30,30))
mlp.fit(x_train.astype('int'),y_train.astype('int'))

C:\Users\Pavan K M\anaconda3\envs\New Version\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

MLPClassifier(hidden_layer_sizes=(30, 30))

In [50]:
prediction_train=mlp.predict(x_train)
prediction_train

array([  0,   0,   0,   0,  11,   0,   2,   1,   0,   0,   2,   0, 278,
        24,   1,   0,   0,   0,   0,   1,   0,   0,   1,  49,   0,   1,
         0,   1,   0,   0,   0,   0,   0,   4,   1,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   1,  49,   0,   0,   0,   0,
         0,  11,   0,   0,   0,   0,   0,   0,   0,   3,   0,   0,   0,
        11,  70,   0,   0,   1,   0,   0,   0,   1,   0,   0,   0,   0,
         0,   1,   0,  11,  11,  11,   0,   0,   0,   0,   1,   0,   0,
         0,   1,   0,   0,   1,  37,   0,   0,   2,   1,   0,   0,  11,
         0,   0,   0,   0,   0,   0,   0,   2,   0,   0,   2,   0,   0,
         0,   0,   0,   0,   1,   0,  11,  11,  11,   0, 278,   0,   0,
         0,   2,   0,   0,   0,   0,   0,   0,  49,   0,   0,  11,   0,
         9,   0,   0,   0,   2,   2,   5,   0,   0,  51,   0,   0,   0,
         0,   0,   1,   0,   0,   0,   0,   0,   2,   0,   0,   0,   0,
         0,   0,   0,  11,   0,   0,  51,   0,   0,   0,   0,   1,   0,
         0,   0,   0,   0,   0,   2,   0,   0,   1,   0,  37,   0,   0,
         0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,  11,
        10,   0,   0,   0,   0,   0,   1,   0,  70, 278,   0,   0,  13,
         0,   0,   0,   0,   0,   0, 278,   0,   0,   0,   0,   0,   0,
         1,   0,   0,   0,   0,   0,   0,  38,   3,   0,   0,   0,   2,
        24,  61,   0,   0,   2,   2,   0,  13,   0,   0,  49,   0,   0,
         0,   0,   0,  51,   0,   1,   1,  11,   0,   0,   0,   0,   0,
         1,  11,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         2,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
         0,   0,   0,   0,   0,   1,   0,  10,   0,   1,   0])

In [51]:
prediction_test = mlp.predict(x_test)
prediction_test

array([ 0,  0,  0,  0,  2,  1,  0,  2,  0,  0,  2, 10,  3,  0,  1,  0,  0,
        0,  6,  0,  0,  0,  2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,
        2,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  0,  2,  1,  0,
        0,  0,  0,  0,  0,  6,  0,  1,  0,  0,  2,  0,  0,  0,  0,  0,  0,
        2,  0,  0,  0,  0,  0,  0,  0,  1,  0,  1,  1,  0,  2,  3, 51,  0,
        0,  0,  0,  0,  0,  0, 11,  1,  0, 37,  0,  0,  0,  0,  0,  0,  0,
        1,  2,  0, 11,  2,  0,  0,  0,  0,  1, 61,  0,  0,  2, 11,  0,  0,
        0,  0,  0,  0, 11,  1,  0,  0,  0,  0,  1,  0,  0,  1,  0,  2,  2,
        2,  0,  0,  0,  0,  0,  0,  2,  0,  0,  0,  0,  0,  2,  1,  1,  1,
        0,  0,  4,  2,  0,  2,  0,  0,  0,  0,  0,  1, 11,  0,  0,  0, 61,
        0,  0,  0,  0,  0,  0,  0,  0,  0,  1,  0,  2,  0,  0,  0,  0,  0,
        0,  0,  1,  0,  0,  0,  0,  0,  0,  0,  0,  2,  0,  0,  0, 10,  0,
        0,  0,  0])

In [52]:
np.mean(y_test==prediction_test)

0.33816425120772947

In [53]:
np.mean(y_train==prediction_train)

0.4129032258064516