In [25]:
lab=read.csv("Datasets/LabTAT.csv")

In [26]:
head(lab)

  Laboratory.1 Laboratory.2 Laboratory.3 Laboratory.4
1 185.35       165.53       176.70       166.13
2 170.49       185.91       198.45       160.79
3 192.77       194.92       201.23       185.18
4 177.33       183.00       199.61       176.42
5 193.41       169.57       204.63       152.60
6 179.45       197.00       181.51       161.12

In [27]:
shapiro.test(lab$Laboratory.1)

	Shapiro-Wilk normality test

data:  lab$Laboratory.1
W = 0.99018, p-value = 0.5508

In [28]:
shapiro.test(lab$Laboratory.2)

	Shapiro-Wilk normality test

data:  lab$Laboratory.2
W = 0.99363, p-value = 0.8637

In [29]:
shapiro.test(lab$Laboratory.3)

	Shapiro-Wilk normality test

data:  lab$Laboratory.3
W = 0.98863, p-value = 0.4205

In [30]:
shapiro.test(lab$Laboratory.4)

	Shapiro-Wilk normality test

data:  lab$Laboratory.4
W = 0.99138, p-value = 0.6619

In [31]:
var.test(lab$Laboratory.1,lab$Laboratory.2)

	F test to compare two variances

data:  lab$Laboratory.1 and lab$Laboratory.2
F = 0.77573, num df = 119, denom df = 119, p-value = 0.1675
alternative hypothesis: true ratio of variances is not equal to 1
95 percent confidence interval:
 0.5406345 1.1130690
sample estimates:
ratio of variances
         0.7757342

In [32]:
var.test(lab$Laboratory.2,lab$Laboratory.3)

	F test to compare two variances

data:  lab$Laboratory.2 and lab$Laboratory.3
F = 0.81785, num df = 119, denom df = 119, p-value = 0.2742
alternative hypothesis: true ratio of variances is not equal to 1
95 percent confidence interval:
 0.5699887 1.1735038
sample estimates:
ratio of variances
         0.8178532

In [33]:
var.test(lab$Laboratory.3,lab$Laboratory.4)

	F test to compare two variances

data:  lab$Laboratory.3 and lab$Laboratory.4
F = 1.2021, num df = 119, denom df = 119, p-value = 0.3168
alternative hypothesis: true ratio of variances is not equal to 1
95 percent confidence interval:
 0.8377527 1.7247817
sample estimates:
ratio of variances
          1.202057

In [34]:
var.test(lab$Laboratory.4,lab$Laboratory.1)

	F test to compare two variances

data:  lab$Laboratory.4 and lab$Laboratory.1
F = 1.3113, num df = 119, denom df = 119, p-value = 0.1408
alternative hypothesis: true ratio of variances is not equal to 1
95 percent confidence interval:
 0.9138556 1.8814637
sample estimates:
ratio of variances
          1.311254

In [35]:
anova=aov(Laboratory.1~Laboratory.2,data=lab)
summary(anova)

              Df Sum Sq Mean Sq F value Pr(>F)
Laboratory.2   1    332   332.0   1.928  0.168
Residuals    118  20320   172.2

In [36]:
anova=aov(Laboratory.2~Laboratory.3,data=lab)
summary(anova)

              Df Sum Sq Mean Sq F value Pr(>F)
Laboratory.3   1    116   115.8   0.516  0.474
Residuals    118  26506   224.6

In [37]:
anova=aov(Laboratory.3~Laboratory.4,data=lab)
summary(anova)

              Df Sum Sq Mean Sq F value Pr(>F)
Laboratory.4   1    510   510.3   1.879  0.173
Residuals    118  32041   271.5

In [38]:
anova=aov(Laboratory.4~Laboratory.1,data=lab)
summary(anova)

              Df Sum Sq Mean Sq F value Pr(>F)
Laboratory.1   1    231   231.3   1.016  0.315
Residuals    118  26848   227.5